body{
    background: linear-gradient(
        135deg,
        #f738da 0%,
        #10a8ca 50%,
        #e0fc2d 100%
    );
    font-family: Arial, sans-serif;
}
#title{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    color: #000;
    font-weight: bold;
}
.container{
    font-weight: 800;
    font-size: 20px;
    margin-top: 70px;
    
    justify-items: center;
    align-items: center;
    
}
#hname{
    margin: 0px 0px 0px 0px;
    font-size:28px ;
}
#name{
    margin: 1px 9px 0px 100px ;
    padding: 5px 5px;
    border-radius: 5px;
    align-items: center;
    justify-items: center;
    width: 200px;
}
#Tamil, #English, #Maths, #Science, #SScience{
    margin: 5px 0px 0px 40px;
    padding: 5px 5px;
    border-radius: 5px;
    width: 100px;
}
button{
    margin: 10px 0px 0px 10px;
    padding: 5px 5px;
    border-radius: 5px;
    width: 100px;
    font-size: 15px;
    background-color: #4caf50; /* Green */
    color: rgb(255, 255, 255);
    border: #4caf50 1px solid;
    
    cursor: pointer;
}
#clear{
    background-color: rgb(247, 5, 5);
    border: rgb(247, 5, 5);
}
    
#tm{
    margin-bottom: 5px ;
    margin-left: 115px;
}    
#per{
    margin-top: 0px;
    margin-left: 115px;
}